:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
.col- {
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
}
.productCard > img,
.productCard > li {
  max-width: 20rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Lato', sans-serif;
}

.navbar {
  position: sticky;
  top: 10;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
}
.nav-icon {
  font-size: 1.7rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -4px;
  right: -10px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
  justify-content: center;
}

img {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  flex: 1;
}

.link {
  color: black;
  font-size: 0.9rem;
}
.link:hover {
  color: var(--primaryColor);
}

/* //---------Hero--------// */
.hero {
  min-height: calc(100vh - 60px);
  background: url('./images/heroPhoto.jpg') center/cover no-repeat;
  /* background-color: var(--mainGrey); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem 6rem;
  margin-bottom: 2rem;
}

.banner-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 0.8rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* //-----nav logo/text alignment-----// */
.main-text {
  /* position: relative; */
  padding-right: 750px;
  /* padding-top: 5px; */
}

/* //--------All product page Layout------// */

.products {
  padding: 4rem 6rem;
}

.product-section {
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
}

.section-title h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2.2rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.products-center {
  display: inline-flex;
  max-width: 1170px;
  justify-content: space-around;
  flex-flow: row wrap;
  position: relative;
}

.product-img {
  display: inline-block;
  max-width: 20rem;
}

.product h4,
h5 {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h2 {
  margin-top: 0.3rem;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

/* default containers and button use */
.container {
  padding-top: 5rem;
  padding-bottom: 7rem;
  text-align: center;
  color: black;
}

.button-default {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 0.7rem;
  background: #302f2f;
  color: var(--mainWhite);
  border: 1px solid var(--mainGrey);
  transition: var(--mainTransition);
  cursor: pointer;
  position: relative;
}

.button-alignment {
  margin: 0 0.1em;
}

.button-delete {
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.user-inline {
  margin: 2rem 0rem 0rem 4rem;
  color: black;
}

/* //-----------cards on welcome page----------// */
.card-wrap {
  padding: 0rem 10rem;
}

/* //------------footer---------------// */
.footer {
  position: fixed;
  left: 0;
  padding: 0.5rem 0rem 0rem 0rem;
  bottom: 0;
  width: 100%;
  background-color: var(--primaryColor);
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.margin {
  margin-bottom: 12rem;
}

/* //-----------------checkout-----------------// */
.section-checkout {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2.2rem;
  /* margin-bottom: 2rem; */
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.product h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  letter-spacing: var(--mainSpacing);
}

.image {
  flex: 0 0 auto;
  padding: 1em;
}

.total-container {
  margin-top: 5rem;
}
/* //-----------------pagination-----------------// */

li.page-item.active {
  color: saturate(darken(#ced4da, 50%), 5%) !important;
  background-color: saturate(lighten(#ced4da, 7.5%), 2.5%) !important;
  border-color: #ced4da !important;
}

a.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none;
  border-color: #ced4da;
  color: saturate(darken(#ced4da, 30%), 10%);
  font-weight: 900;
  font-size: 1rem;
}

/* :hover {
   background-color: lighten(desaturate(#ced4da, 50%), 12.5%);
 */
/*------------- media queries --------*/
@media only screen and (min-width: 400px) {
  .navbox {
    padding-bottom: 80px;
  }
  .navbar {
    position: fixed;
    top: 10;
    height: 80px;
    width: 100%;
    display: block;
    background: rgb(231, 226, 221);
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5rem;
  }
  .nav-right {
    position: relative;
    top: -5px;
    width: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .nav-icon {
    font-size: 1.7rem;
  }
  .nav-row {
    display: flex;
    position: relative;
    top: 0px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
  }
  .cart-btn {
    position: relative;
    top: 10px;
    cursor: pointer;
  }

  nav a {
    /* display: inline-block; */
    margin: 1em;
  }
  .menuLinks {
    width: inherit;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 80px;

    background-color: rgba(231, 226, 221, 0.75);
    float: left;
    z-index: 1;
  }
  /* //-----nav logo/text alignment-----// */
  .main-text {
    width: max-content;
  }
  /* //-----------cards on welcome page----------// */
  .card-wrap {
    padding: 0rem 10rem;
  }
}
@media only screen and (min-width: 1500px) {
  .navbar-center {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5rem;
  }
  .menuLinks {
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 80px;
    background-color: rgba(231, 226, 221, 0.75);
    float: left;
    z-index: 1;
  }
}
